@using BackEleccionsM.Dto

<h3>@Municipi.NomMunicipi</h3>
<div>
<p>Numero de Regisdors: @Municipi.NumeroRegidors</p>
<p>Percentatge Establert: @Municipi.PercentatgeMinimEstablert</p>
</div>



@code {
	[Parameter]
	public MunicipiDto Municipi { get; set; }

}
